.app {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0 40px;
    width: 80%;
}

.attribution {
    display: none;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 450px) {
    .app {
        padding: 40px 20px;
        width: 100%;
    }
}